@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Caveat", cursive;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info_div {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

img {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 4px;
  border: 3px solid #322d47;
  transition: all 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
img:hover {
  cursor: none;
  border: 3px solid #00ff00;
}

h2,
h3,
h5 {
  display: block;
  margin: auto;
}

h2,
h3 {
  margin-bottom: 12px;
}

h3 a:active,
h3 a:link,
h3 a:hover,
h3 a:visited {
  text-decoration: none;
  color: #fff;
}

h3 a:link,
h3 a:hover {
  transition: all 0.3s linear;
  color: #322d47;
}

.discuss {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 60px;
}

.discuss a:active,
.discuss a:link,
.discuss a:hover,
.discuss a:visited {
  text-decoration: none;
  color: #fff;
}

.discuss a:link,
.discuss a:hover {
  transition: all 0.3s linear;
}

.discuss svg {
  position: relative;
  top: 6px;
  left: 2px;
}
.discuss svg:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}

.anonymous {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 48px;
}

.anonymous a:active,
.anonymous a:link,
.anonymous a:hover,
.anonymous a:visited {
  text-decoration: none;
  color: #fff;
}

.anonymous a:link,
.anonymous a:hover {
  transition: all 0.3s linear;
}

.anonymous svg {
  position: relative;
  top: 6px;
  left: 2px;
}
.anonymous svg:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}

.social_div {
  position: relative;
  height: 40px;
  width: 220px;
  bottom: 36px;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);
}
.social_div::before {
  content: "I am on...";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.social_div:hover::before {
  left: -250px;
}
.social_div .social_icons {
  position: absolute;
  top: 0;
  right: -250px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease-in-out;
}
.social_div:hover .social_icons {
  right: 0;
}
.social_icons svg {
  padding: 0;
  margin: 0;
  transition: all 0.3s linear;
}
.social_icons svg:hover {
  transform: scale(1.1);
}

footer {
  display: block;
  position: relative;
  bottom: 24px;
}
footer svg {
  position: relative;
  top: 6px;
  stroke: #fff;
  stroke-width: 1.5px;
  transition: all 0.3s linear;
}
footer svg:hover {
  transform: scale(1.1);
}

footer a:active,
footer a:link,
footer a:hover,
footer a:visited {
  text-decoration: none;
  color: #fff;
}

footer a:link,
footer a:hover {
  transition: all 0.3s linear;
  color: #322d47;
}

@media screen and (min-width: 425px) and (max-width: 500px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  span {
    font-size: 22px;
  }
  .social_div::before {
    font-size: 22px;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  img {
    height: 70px;
    width: 70px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  span {
    font-size: 22px;
  }
  .social_div::before {
    font-size: 22px;
  }
}
@media screen and (min-width: 0px) and (max-width: 319px) {
  body {
    display: none;
  }
}
